@media (min-width: 780px) {
  h1 {
    font-size: 36px;
    text-align: left;
  }
  h2 {
    display: inline-flex;
    flex-direction: row;
    padding: 0 0 0 32px;
  }
  p {
    padding-top: 40px;
    font-size: 18px;
    text-align: left;
  }
  img {
    border-radius: 0 10px 10px 0;
  }
  .card-container {
    max-width: 1000px;
    flex-direction: row-reverse;
    align-content: center;
  }
  .content {
    display: flex;
    flex-direction: column;
    padding: 32px;
    width: 50%;
  }
  .stats {
    flex-direction: row;
    margin-top: 36px;
    align-content: left;
  }


  .companies {
    text-align: left;
    width: 33.33%;
    /* padding-right: 32px; */
  }

  .templates {
    text-align: left;
    width: 33.33%;
  }

  .queries {
    /* display: inline-block; */
    text-align: left;
    width: 33.33%;
  }

.sub {
  display: flex;
  padding: 4px 0 0 32px;
}

  .hero-image {
    display: flex;
    width: 50%;
    flex-direction: row-reverse;
    border-radius: 0 10px 10px 0;
  }
}