* {
    margin: 0;
    padding: 0;
  }

  body {
    background: hsl(233, 47%, 7%);
    padding: 0 24px;
  }

h1, h2 {
      color: hsl(0, 0%, 100%)
  }

h1 {
    font-family: 'inter', sans-serif;
    font-weight: 700;
    font-size: 25px;
    line-height: 1.3em;
    padding: 0 34px;
    margin-top: 44px;
    /* padding: 44px 34px 12px 34px; */
    text-align: center;
}
h2 {
    font-family: 'inter', sans-serif;
    font-weight: 700;
    font-size: 24px;
    /* padding: 24px 24px 0 24px; */
    text-align: center;
}

p {
    font-family: 'inter', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.5em;
    color: hsla(0, 0%, 100%, 0.5);
    text-align: center;
    padding: 0 34px;
    margin-top: 22px;
    line-height: 1.6em;
}

img {
  display: flex;
  flex-shrink: inherit;
  flex-grow: none;
  object-fit: cover; 
  mix-blend-mode: overlay;
  width: 100%;
  border: hidden;
  border-radius: 7px 7px 0 0;
  margin: 0 auto;
}

.highlight {
    color: hsl(277, 64%, 61%);
}

.stats {
    display: flex;
    flex-direction: column;
    padding: 48px 0 38px 0;
}
.companies {
padding-bottom: 34px
}
.templates{
    padding-bottom: 34px}

.sub { 
    display: block;
    font-family: 'lexend-deca', sans-serif;
    font-weight: 400;
    font-size: 12px;
    font-style: bold;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .1em;
    padding-top: 7px;
}
.card-container {
    display: flex;
    flex-direction: column;
    margin: 88px auto;
    background: hsl(244, 38%, 16%);
    border-radius: 7px;
  }

.hero-image {
    display: block;
    margin: 0 auto;
    width: 100%;
    background: hsl(277, 64%, 61%);
    border-radius: 7px 7px 0 0;
    z-index: 2;
  }

  .attribution {
     font-family: 'inter', sans-serif;
     text-align: center;
     padding: 30px;
     color: white;
  }

  .attribution a {
    text-decoration: none;
    color:hsl(277, 64%, 61%);

  }

  .stats span {
      color: hsla(0, 0%, 100%, 0.4);
  }

